body {
    background-color:black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
div {
    display: block;
}
a {
    text-decoration: none;
    color: white;
}
input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
}
#grid {
    display: grid;
    grid-template-columns: minmax(1.5rem, 1fr) repeat(2, minmax(auto, 20rem)) minmax(1.5rem, 1fr);
    grid-template-rows: auto minmax(1.5rem, 1fr) auto;
    height: 100vh;
}
#grid, #spacer {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main {
    grid-column: 2/4;
    width: 100%;
}

#logoContainer {
    margin-top: 1em;
}
#logoContainer > h1 {
    font-size: 40px;
}
#filePreview {
    color: #aaa;
    font-size: 0.9rem;
}
#filePreview {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 150px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    z-index: 2;
}
#searchFormContainer {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: left;
}
#fileInputButton{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(56, 56, 56);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    border: 1px solid #999;
    border-radius: 2px;
    height: 2em;
    width: 7em;
    line-height: 2em;
    margin-right: 1.2em;
    overflow: hidden;
}

#searchForm {
    text-align: left;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
}
#fileInput {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
}
#fileInputLabel {
    text-align: center;
    color: #fff;
    line-height: 2em;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    vertical-align: top;
}

#fileRowContainer{
    text-align: left;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
}
#urlInput {
    box-sizing: border-box;
    padding: 0;
    font-size: inherit;
    color: #ccc;
    border: 1px solid #fff;
    border-radius: 2px;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    height: 2.3em;
    width: 100%;
    padding-left: 0.4em;
    margin: 0.6em 0 0.6em 0;
}
#searchRowContainer {
    color: #fff;
    text-align: left;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
}
#searchButton {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    border-radius: 2px;
    border: none;
    text-align: center;
    background-color: rgb(133, 133, 133);
    font-weight: bold;
    margin-left: 1em;
    width: 7em;
    height: 2em;
    line-height: 2em;
    color: #fff;
    -webkit-appearance: none;
    box-shadow: none;
}
#spacer {
    grid-column: 2/4;
}
footer {
    text-align: center;
    display: inline-flex;
    border-top: 1px solid #fff;
    width: 100%;
    justify-content: space-around;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 2em;
    grid-column: 2/4;
    margin-bottom: 0.2em;
}